.ogx_calendar .ogx_calendar_head_date .ogx_calendar_display_date{
    color:#333;
}
.ogx_calendar .ogx_calendar_head_labels{
    color:#333;
}
.ogx_calendar .ogx_calendar_selected_item{
    box-shadow:inset 0px 0px 0px 3px darkorange !important;
}
.ogx_calendar .ogx_calendar_head_date .ogx_calendar_left{
    background-image:url('../../light/img/left.svg');
}
.ogx_calendar .ogx_calendar_head_date .ogx_calendar_right{
    background-image:url('../../light/img/right.svg');
}
.ogx_calendar .ogx_calendar_head_date .ogx_calendar_up{
    background-image:url('../../dark/img/up.svg');
}
.ogx_calendar .ogx_calendar_head_date .ogx_calendar_down{
    background-image:url('../../dark/img/down.svg');
}
/*LAYOUTS*/
.ogx_calendar .ogx_calendar_layout_off_date{
    background-color: #222;
}
/*month days*/
.ogx_calendar .ogx_calendar_layout_month_days{    
    border:1px solid #DDD;   
    background-color:#E4E4E4;   
}
.ogx_calendar .ogx_calendar_layout_month_days_offset{
    background-color:#222;
    color:#999;
    border-color:#282828;
}
.ogx_calendar .ogx_calendar_layout_month_days_today{
    background-color:darkslategray; 
    color:#EEE;
}   
/*century decade*/
.ogx_calendar .ogx_calendar_layout_century_decades{   
    border:1px solid #DDD;   
    background-color:#E4E4E4;
}
.ogx_calendar .ogx_calendar_layout_century_decades_current{
    background-color:#2f4f4f;
    color:#EEE;
}
/*century years*/
.ogx_calendar .ogx_calendar_layout_century_years{   
    border:1px solid #DDD;   
    background-color:#E4E4E4;
}
.ogx_calendar .ogx_calendar_layout_century_years_current{
   background-color:#2f4f4f;
   color:#EEE;
}
/*decade years*/
.ogx_calendar .ogx_calendar_layout_decade_years{    
    border:1px solid #DDD;   
    background-color:#E4E4E4;
}
.ogx_calendar .ogx_calendar_layout_decade_years_current{
    background-color:#2f4f4f;
    color:#EEE;
}
/*decade months 12 * 10  - flex-direction in ogx_grid_swiper_cell_content should be set to column - adjust data-y to reflect the layout row*/
/*
.ogx_calendar .ogx_grid_swiper_cell[data-y="1"] .ogx_grid_swiper_cell_content{
    flex-direction:column;
}
*/
.ogx_calendar .ogx_calendar_layout_decade_months{    
    border:1px solid #DDD;   
    background-color:#E4E4E4;
}
.ogx_calendar .ogx_calendar_layout_decade_months_current{
    background-color:#2f4f4f;
    color:#EEE;
}
/*year months*/
.ogx_calendar .ogx_calendar_layout_year_months{    
    border:1px solid #DDD;   
    background-color:#E4E4E4;
}
.ogx_calendar .ogx_calendar_layout_year_months_current{
    background-color:#2f4f4f;
    color:#EEE;
}
/*year weeks 4 * 13*/
.ogx_calendar .ogx_calendar_layout_year_weeks{    
    border:1px solid #DDD;   
    background-color:#E4E4E4;
}
.ogx_calendar .ogx_calendar_layout_year_weeks_current{
    background-color:#2f4f4f; 
    color:#EEE;
}
/*year days 20 * 19 */
.ogx_calendar .ogx_calendar_layout_year_days{   
    border:1px solid #DDD;   
    background-color:#E4E4E4;
}
.ogx_calendar .ogx_calendar_layout_year_days_current{
    background-color:#2f4f4f; 
    color:#EEE;
}
/*month weeks 5 * 1*/
.ogx_calendar  .ogx_calendar_layout_month_weeks{
    border:1px solid #DDD;   
    background-color:#EEE;
}
.ogx_calendar .ogx_calendar_layout_month_weeks_current{
    background-color:#2f4f4f;
    color:#EEE;
}
/*week days 7 * 1*/
.ogx_calendar .ogx_calendar_layout_week_days{      
    border:1px solid #DDD;   
    background-color:#E4E4E4;  
}
.ogx_calendar .ogx_calendar_layout_week_days_current{
    background-color:#2f4f4f;
    color:#EEE;
}
/*day hours 6 * 4*/
.ogx_calendar .ogx_calendar_layout_days_hours{    
    border:1px solid #DDD;   
    background-color:#E4E4E4; 
}
.ogx_calendar .ogx_calendar_layout_days_hours_current{
    background-color:#2f4f4f;
    color:#EEE;
}
/*day work hours 5 * 2 */
.ogx_calendar .ogx_calendar_layout_days_work_hours{    
    border:1px solid #DDD;   
    background-color:#E4E4E4;
}
.ogx_calendar .ogx_calendar_layout_days_work_hours_current{
    background-color:#2f4f4f;
    color:#EEE;
}
/* single day */
.ogx_calendar .ogx_calendar_layout_day{
    border:1px solid #DDD;   
    background-color:#E4E4E4;
}
.ogx_calendar .ogx_calendar_layout_day_current{
    background-color:#2f4f4f;
    color:#E4E4E4;
}.ogx_carousel_views{
	background-color:#EEE;
	/*border:1px solid #DDD;*/
}.ogx_container{
   background-color:#EEE;
}body{		
    color:#111;   
    background-color:#EEE;    
}
.ogx_stage{
	background-color:#EEE;    
}
.ogx_overlay{	
	background-color:rgba(0, 0, 0, 0.7);	
}
.ogx_loading{
	background-image:url('../../dark/img/loading.svg');	
    background-color:rgba(0,0,0,0.7);
}
.ogx_group_overlay{   
    background-color:rgba(90, 145, 214, 0.3);
}.ogx_dots_gfx{	
	background-color:#FFF;
	border:1px solid #AAA;
}
.ogx_dots_selected{
	background-color:#436963 !important;
}.ogx_dynamic_list_selected_item{
    background-color:#E4E4E4;
}
.ogx_dynamic_list_reorder{
	box-shadow:0px 0px 3px 1px rgba(0,0,0,0.3);
}
.ogx_dynamic_list_swiper_back_item{
    color:#111;		
	background-color:#CC0000;	
	background-image:url('../../dark/img/trash.svg');    
}
.ogx_dynamic_list_swiper_side_right{
	background-color:#CC0000 !important;	
	background-image:url('../../dark/img/trash.svg') !important;
}
.ogx_dynamic_list_swiper_side_left{
	background-color:#06aa14 !important;	
	background-image:url('../../dark/img/check.svg') !important;	
}
.ogx_grid_swiper{ 
    background-color:#EEE;
}
.ogx_grid_swiper_cell{
    box-shadow:inset 0 0 0 0.5px #DDD;
}.ogx_grouped_list_group{		
	border-bottom:solid 1px #DDD;	
	background-color:#DDD;	
}
.ogx_grouped_list_group_opened{	
	background-image:url('../../dark/img/down.svg');
    filter:invert(1);
}
.ogx_grouped_list_group_closed{
	background-image:url('../../dark/img/up.svg');	
    filter:invert(1);
}
.ogx_grouped_list_item{	
	/*border-bottom:solid 1px #181818;*/
	background-color:#EEE;
}
.ogx_grouped_list_selected_item{
	/*border-bottom:solid 1px #181818;*/
	background-color:#DDD;
}.ogx_iceberg_views{
    /*background-color:#E4E4E4;*/
}
.ogx_iceberg_view{	
    /*border-right:1px solid #E4E4E4;*/
}input[type=button], input[type=submit]{ 
    border:1px solid #DDD;    
    background-color:#436963;   
    color:#EEE;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number]{   
    border-bottom:1px solid #DDD;
    color:#333;    
}
input[type=text]:focus,  input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=number]:focus{
    border-bottom:1px solid rgb(26, 24, 24);
    color:#111;
}
input[type=text]:invalid,  input[type=password]:invalid, input[type=email]:invalid, input[type=tel]:invalid, input[type=number]:invalid{
    border-bottom:1px solid rgb(139, 7, 7) !important;
}
/*
input[type=range]::-webkit-slider-thumb {   
    background:#EEEEEE;
    border: 1px solid #AAAAAA;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}
input[type=range]::-webkit-slider-runnable-track {   
    background:#CCCCCC;   
    border:1px solid #E4E4E4;
    box-shadow:inset 1px 1px 2px 0px rgba(0,0,0,0.5);
}
*/
input:placeholder-shown{
    border-bottom-color:#DDD !important;
}
input:disabled{
    border-bottom-color:#EEE !important;
    color:#999;
}
input::placeholder{
    color:#777;
}.ogx_nest_list{	
    background-color:#EEE;
}
.ogx_nest_list_item_head{    
    background-color:#EEE;  
    border-bottom:1px solid #DDD;
}
.ogx_nest_list_item_icon{   
    background-image:url('../../dark/img/down.svg');   
    filter:invert(1);
}
.ogx_nest_list_item_title{		
    color:#111;
}
.ogx_nest_list_item_body{	
    color:#111;
    background-color:#E4E4E4;
}
.ogx_nest_list_item_content{   
    color:#111;
}
.ogx_nest_list_mask{
    background-color:#EEE;
}.ogx_popup{	   
	background-color:#EEE;
	border:1px solid #DDD;	
	box-shadow:0px 0px 3px 3px rgba(0,0,0,0.15);	
}
.ogx_popup_head{    
    border-bottom:1px solid #DDD;
}
.ogx_popup_title{
    color:#111;
}
.ogx_popup_button{      
    color:#56acff;	
}
.ogx_popup_button_disabled{
    color:#999 !important;
}
.ogx_popup_group_overlay{   
    background-color:rgba(90, 145, 214, 0.3);
}.ogx_quad_swiper{
    background-color:#EEE;     
}.ogx_roulette{		
    border-bottom:1px solid #333;   
}
.ogx_roulette_block_label{	
    color:#111;
}
.ogx_roulette_icon{
    background-image:url('../../dark/img/loop.svg');
}.ogx_scroller_track_button{   
    background-color:rgba(0, 0, 0, 0.9);
}.ogx_stacked_tree_level_prev{
    background-image:url('../img/left.svg');   
    border-bottom: 1px solid #DDD; 
}
.ogx_stacked_tree_door{
    background-image:url('../img/right.svg');   
}
.ogx_stacked_tree_item{
    background-color:#EEE;
}.ogx_switch_track_bg{
    border-bottom:1px solid #CCC;   
}
.ogx_switch_dot{       
    border:1px solid #CCC;
    background-color:#222;  
}
.ogx_switch_dot_right{
    background-color:#EEE !important;
}
.ogx_switch_label{	   
    color:#CCC;   
}
.ogx_switch_label_on{
    color:#222;   
}.ogx_tabs{  
    background-color:#EEE;
}
.ogx_tabs_tab{ 
    border:1px solid #DDD;
    border-bottom:1px solid #DDD;    
}
.ogx_tabs_tab_label{    	
    color:#777;  
}
.ogx_tabs_tab_close{    
    background-color:#EEE;  
    background-image:url('../../dark/img/close.svg');   
    filter:invert(1);
}
.ogx_tabs_tab_active{
    border-bottom:1px solid rgba(0,0,0,0);
}
.ogx_tabs_tab_active > .ogx_tabs_tab_label{
    color:#111 !important;
}
.ogx_tabs_tab_add{   
    background-color:#FFF; 
    background-image:url('../../dark/img/add.svg');   
    filter:invert(1);
}.ogx_tags input[type=text]{    
    border-bottom:1px solid #333333;
}
.ogx_tags .ogx_tags_tag{		
	background-color:#436963;
    color:#DDD;
}
.ogx_tags .ogx_tags_tags_container{
	background-color:#FFF;
	border-top:1px solid #DDD;
}
.ogx_tags .ogx_tags_remove{      
    background-image:url('../../dark/img/remove.svg');    
}.ogx_theater{  
    background-image:url('../../../../img/theater.jpg');   
}
.ogx_theater .ogx_theater_stage_label{
    color:#EEE;
}
.ogx_theater_trans{   
    background-color:#222;  
    border:1px solid #333;	
}
.ogx_stage_exit{   
    background-color:#222;   
    background-image:url('../../dark/img/remove.svg');  
}.ogx_tree_item{	
	/*color:#333;*/
}
.ogx_tree_selected_item{	
	background-color:rgba(7, 77, 65, 0.1);	
	box-shadow:0px 4px 0px 0px #074F41;
}
.ogx_tree_item > .ogx_tree_item_arrow span{
	background-image:url('../../dark/img/arrow.svg');
    filter:invert(1);
}
.ogx_tree_item > .ogx_tree_item_label{	
	/*text-shadow:1px 1px 2px rgba(102, 102, 102, 0.6);*/
    color:#111;
}
.ogx_tree_item > .file{
    background-image:url('../../dark/img/file.svg');
    filter:invert(1);
}
.ogx_tree_item > .folder{
    background-image:url('../../dark/img/folder.svg');
    filter:invert(1);
}
.ogx_tree_item > .folder_open{
    background-image:url('../../dark/img/folder_open.svg');
    filter:invert(1);
}
.ogx_tree_item > .folder_closed{
    background-image:url('../../dark/img/folder_closed.svg');
    filter:invert(1);
}
.ogx_tree_item > .root{
    background-image:url('../../dark/img/root.svg');
    filter:invert(1);
}.ogx_window{	
    background-color:#EEE;
    box-shadow:0px 0px 3px 2px rgba(0,0,0,0.2);
}
.ogx_window .ogx_view{
	background-color:#EEE;    
}
.ogx_window_custom{	
	border-right:1px solid #E2E2E2;
}
.ogx_window_head{   	
	color:#111;
    background-color:#EEE;   
    border-bottom: 1px solid #DDD;
}
.ogx_window_main_icon_top{	
	background-image:url('../../dark/img/down.svg');
    filter:invert(1);
}
.ogx_window_main_icon_left{	
	background-image:url('../../dark/img/right.svg');
    filter:invert(1);
}
.ogx_window_main_icon_right{
    background-image:url('../../dark/img/left.svg');
    filter:invert(1);
}
.ogx_window_main_icon_bottom{
    background-image:url('../../dark/img/up.svg');
    filter:invert(1);
}
.ogx_window_main_icon_close{  
	background-image:url('../../dark/img/close.svg');	
    filter:invert(1);	
}