.ogx_calendar .ogx_calendar_head{
    background-color: #222;
}
.ogx_calendar .ogx_calendar_head_date .ogx_calendar_display_date{
    color:#EEE;
}
.ogx_calendar .ogx_calendar_head_labels{
    color:#EEE;
}
.ogx_calendar .ogx_calendar_selected_item{
    box-shadow:inset 0px 0px 0px 3px darkorange !important;
}
.ogx_calendar .ogx_calendar_head_date .ogx_calendar_left{
    background-image:url('../../dark/img/left.svg');
}
.ogx_calendar .ogx_calendar_head_date .ogx_calendar_right{
    background-image:url('../../dark/img/right.svg');
}
.ogx_calendar .ogx_calendar_head_date .ogx_calendar_up{
    background-image:url('../../dark/img/up.svg');
}
.ogx_calendar .ogx_calendar_head_date .ogx_calendar_down{
    background-image:url('../../dark/img/down.svg');
}
/*LAYOUTS*/
.ogx_calendar .ogx_calendar_layout_off_date{
    background-color: #222;
}
/*month days*/
.ogx_calendar .ogx_calendar_layout_month_days{    
    border:1px solid #444;
    background-color: #333;  
}
.ogx_calendar .ogx_calendar_layout_month_days_offset{
    background-color:#222;
    color:#999;
    border-color:#282828;
}
.ogx_calendar .ogx_calendar_layout_month_days_today{
    background-color:#333c3c; 
    color:#EEE;
}   
/*century decade*/
.ogx_calendar .ogx_calendar_layout_century_decades{   
    border:1px solid #444;
    background-color: #333; 
}
.ogx_calendar .ogx_calendar_layout_century_decades_current{
    background-color:#333c3c;
    color:#EEE;
}
/*century years*/
.ogx_calendar .ogx_calendar_layout_century_years{   
    border:1px solid #444;
    background-color: #333; 
}
.ogx_calendar .ogx_calendar_layout_century_years_current{
   background-color:#333c3c;
   color:#EEE;
}
/*decade years*/
.ogx_calendar .ogx_calendar_layout_decade_years{    
    border:1px solid #444;
    background-color: #333; 
}
.ogx_calendar .ogx_calendar_layout_decade_years_current{
    background-color:#333c3c;
    color:#EEE;
}
/*decade months 12 * 10  - flex-direction in ogx_grid_swiper_cell_content should be set to column - adjust data-y to reflect the layout row*/
/*
.ogx_calendar .ogx_grid_swiper_cell[data-y="1"] .ogx_grid_swiper_cell_content{
    flex-direction:column;
}
*/
.ogx_calendar .ogx_calendar_layout_decade_months{    
    border:1px solid #444;
    background-color: #333; 
}
.ogx_calendar .ogx_calendar_layout_decade_months_current{
    background-color:#333c3c;
    color:#EEE;
}
/*year months*/
.ogx_calendar .ogx_calendar_layout_year_months{    
    border:1px solid #444;
    background-color: #333; 
}
.ogx_calendar .ogx_calendar_layout_year_months_current{
    background-color:#333c3c;
    color:#EEE;
}
/*year weeks 4 * 13*/
.ogx_calendar .ogx_calendar_layout_year_weeks{    
    border:1px solid #444;
    background-color: #333; 
}
.ogx_calendar .ogx_calendar_layout_year_weeks_current{
    background-color:#333c3c; 
    color:#EEE;
}
/*year days 20 * 19 */
.ogx_calendar .ogx_calendar_layout_year_days{   
    border:1px solid #444;
    background-color: #333; 
}
.ogx_calendar .ogx_calendar_layout_year_days_current{
    background-color:#333c3c; 
    color:#EEE;
}
/*month weeks 5 * 1*/
.ogx_calendar  .ogx_calendar_layout_month_weeks{
    border:1px solid #444;
    background-color: #333; 
}
.ogx_calendar .ogx_calendar_layout_month_weeks_current{
    background-color:#333c3c;
    color:#EEE;
}
/*week days 7 * 1*/
.ogx_calendar .ogx_calendar_layout_week_days{      
    border:1px solid #444;
    background-color: #333; 
}
.ogx_calendar .ogx_calendar_layout_week_days_current{
    background-color:#333c3c;
    color:#EEE;
}
/*day hours 6 * 4*/
.ogx_calendar .ogx_calendar_layout_days_hours{    
    border:1px solid #444;
    background-color: #333; 
}
.ogx_calendar .ogx_calendar_layout_days_hours_current{
    background-color:#333c3c;
    color:#EEE;
}
/*day work hours 5 * 2 */
.ogx_calendar .ogx_calendar_layout_days_work_hours{    
    border:1px solid #444;
    background-color: #333; 
}
.ogx_calendar .ogx_calendar_layout_days_work_hours_current{
    background-color:#333c3c;
    color:#EEE;
}
/* single day */
.ogx_calendar .ogx_calendar_layout_day{
    border:1px solid #444;
    background-color: #333; 
}
.ogx_calendar .ogx_calendar_layout_day_current{
    background-color:#333c3c;
    color:#E4E4E4;
}.ogx_carousel_views{
	background-color:#222;
	/*border:1px solid #DDD;*/
}
.ogx_carousel_anim{
    transition:all 0.3s ease-out;
}.ogx_container{
   background-color:#222;
}body{	
	font-size:16px;	
    color:#EEE;
    font-family:Roboto-Regular;
    background-color:#222;    
}
.ogx_stage{
	background-color:#222;    
}
.ogx_stage_anim{
	transition:all 0.3s ease-in-out;
}
.ogx_overlay{	
	background-color:rgba(0, 0, 0, 0.7);	
}
.ogx_overlay_fade_in{
	transition:opacity 0.5s;
}
.ogx_overlay_fade_out{
	transition:opacity 0.3s;
}
.ogx_loading{
	background-image:url('../../dark/img/loading.svg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:40px;	
    background-color:rgba(0,0,0,0.7);
}
.ogx_group_overlay{   
    background-color:rgba(90, 145, 214, 0.3);
}.ogx_dots_gfx{	
	background-color:#FFF;
	border:1px solid #AAA;
}
.ogx_dots_selected{
	background-color:#436963 !important;
}/*THEME*/
.ogx_dynamic_list_reorder{
	box-shadow:0px 0px 3px 1px rgba(0,0,0,0.3);
}
.ogx_dynamic_list_frozen{
	opacity:0.2 !important;
}
.ogx_dynamic_list_disabled_item{
	opacity:0.3 !important;
}
.ogx_dynamic_list_selected_item{
    background-color:#282828;
}
.ogx_dynamic_list_swiper_back_item{
    color:#000;		
	background-color:#CC0000;	
	background-repeat:no-repeat;
	background-size:contain;	
	background-image:url('../../dark/img/trash.svg');
    background-size:7%;	
}
.ogx_dynamic_list_swiper_left{
	background-position:10% center;
}
.ogx_dynamic_list_swiper_right{
	background-position:90% center;
}
.ogx_dynamic_list_swiper_trans_item{
	transition:all 0.3s ease-out;
}
.ogx_dynamic_list_swiper_delete{
    transition:all 0.4s ease-out;	
}
.ogx_dynamic_list_swiper_side_right{
	background-color:#CC0000 !important;	
	background-image:url('../../dark/img/trash.svg') !important;
}
.ogx_dynamic_list_swiper_side_left{
	background-color:#06aa14 !important;	
	background-image:url('../../dark/img/check.svg') !important;	
}
.ogx_grid_swiper{ 
    background-color:#222;
}
.ogx_grid_swiper_cell{
    box-shadow:inset 0px 0px 0px 1px #000;
}
.ogx_grid_swiper_anim{
	transition:all 200ms;
}.ogx_grouped_list{	
    /*
	border:1px solid #DDD;
	border-bottom:none;    
    */
}
.ogx_grouped_list_group{	
	padding:5px;	
	border-bottom:solid 1px #DDD;	
	background-color:#DDD;	
	background-position:right 20px top 5px;
	background-repeat:no-repeat;
}
.ogx_grouped_list_group_opened{	
	background-image:url('../../dark/img/down.svg');
}
.ogx_grouped_list_group_closed{
	background-image:url('../../dark/img/up.svg');	
}
.ogx_grouped_list_item{	
	border-bottom:solid 1px #181818;
	border-radius:1px;
	background-color:#222;
}
.ogx_grouped_list_selected_item{
	border-bottom:solid 1px #181818;	
	background-color:#333;
}
.ogx_grouped_list_item_label{
	margin-right:20px;
	padding:5px;
}.ogx_iceberg_views{
    /*background-color:#E4E4E4;*/
}
.ogx_iceberg_anim{
    transition:all 300ms ease-out;
}
.ogx_iceberg_view{	
    /*border-right:1px solid #E4E4E4;*/
}input[type=button], input[type=submit]{  
    border:1px solid #333;   
    background-color:#436963;   
    color:#EEE;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number]{  
    border-bottom:1px solid #333;
    color:#DDD;   
}
input[type=text]:focus,  input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=number]:focus{
    border-bottom:1px solid #EEE;
    color:#EEE;
}
input[type=text]:invalid,  input[type=password]:invalid, input[type=email]:invalid, input[type=tel]:invalid, input[type=number]:invalid{
    border-bottom:1px solid #bb1c1c !important;
}
/*
input[type=range]::-webkit-slider-thumb {     
    background:#EEEEEE;
    border: 1px solid #AAAAAA;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}
input[type=range]::-webkit-slider-runnable-track {
    background:#CCCCCC;
    border:1px solid #E4E4E4;
    box-shadow:inset 1px 1px 2px 0px rgba(0,0,0,0.5);
}
*/
input:placeholder-shown{
    border-bottom-color:#333 !important;
}
input:disabled{
    border-bottom-color:#282828 !important;
    color:#777;
}
input::placeholder{
    color:#999;
}.ogx_nest_list{	
    background-color:#222;
}
.ogx_nest_list_item_head{    
    background-color:#222;  
    border-bottom:1px solid #282828;
}
.ogx_nest_list_item_icon{
    background-image:url('../../dark/img/down.svg');
}
.ogx_nest_list_item_head_closed > .ogx_nest_list_item_icon{
	transform:scaleY(-1);
}
.ogx_nest_list_item_hidden{
	display:none;
}
.ogx_nest_list_item_noanim{
	transition:none !important;	
}
.ogx_nest_list_item_title{	
    color:#EEE;
}
.ogx_nest_list_item_body{	
    color:#EEE;
    background-color:#202020;
}
.ogx_nest_list_item_content{   
    color:#EEE;
}
.ogx_nest_list_mask{
    background-color:#222;
}.ogx_popup{	   
	background-color:#222;
	border:1px solid #333;	
	box-shadow:0px 0px 3px 3px rgba(0,0,0,0.15);	
}
.ogx_popup_head{
    border-bottom:1px solid #333;
}
.ogx_popup_title{
    color:#EEE;
}
.ogx_popup_button{     
    color:#56acff;
}
.ogx_popup_button_disabled{
    color:#999 !important;
}
.ogx_popup_group_overlay{   
    background-color:rgba(90, 145, 214, 0.3);
}.ogx_quad_swiper{
    background-color:#EEE;     
}
.ogx_quad_swiper_anim{
	transition:all 200ms;
}
.ogx_roulette{	
    border-bottom:1px solid #CCC;    
}
.ogx_roulette_block_label{	
    color:#EEE;
}
.ogx_roulette_icon{
    background-image:url('../../dark/img/loop.svg');
}.ogx_scroller_track_button{   
    background-color:rgba(255, 255, 255, 0.9);  
}.ogx_stacked_tree_level_prev{
    background-image:url('../../dark/img/left.svg');
    background-repeat:no-repeat;
    background-position:5px center;
    padding-left:40px !important;
}
.ogx_stacked_tree_item{
    padding:10px;
    font-family:Roboto-Regular;
    font-size:16px;
}
.ogx_stacked_tree_door{
    background-image:url('../../dark/img/right.svg');
    background-repeat:no-repeat;
    background-position:right 5px center;
    padding-right:40px !important;
}
.ogx_stacked_tree_anim{
    transition:all 0.2s ease;
}.ogx_switch_track_bg{ 
    border-bottom:1px solid #CCC;   
}
.ogx_switch_dot{   
    border:1px solid #CCC;
    background-color:#222;
}
.ogx_switch_dot_right{ 
    background-color:#EEE !important;
}
.ogx_switch_label{	   
    color:#666;   
}
.ogx_switch_label_on{
    color:#EEE;   
}.ogx_tabs{  
    background-color:#222;
}
.ogx_tabs_tab{        
    border:1px solid #333;
    border-bottom:1px solid #333;     
}
.ogx_tabs_tab_label{    
    font-family:Roboto-Regular;
    color:#777;  
}
.ogx_tabs_tab_close{   
    background-image:url('../../dark/img/close.svg'); 
}
.ogx_tabs_tab_active{
    border-bottom:1px solid rgba(0,0,0,0);
}
.ogx_tabs_tab_active > .ogx_tabs_tab_label{
    color:#FFF !important;
}
.ogx_tabs_tab_add{   
    background-color:#333;   
    background-image:url('../../dark/img/add.svg');    
}
.ogx_tabs_tab_grad{    
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(40,40,40,1) 60%);
}
.ogx_tabs_tab_active > .ogx_tabs_tab_grad{   
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(34,34,34,1) 60%);
}.ogx_tags{   
	
}
.ogx_tags input[type=text]{    
    border-bottom:1px solid #333333;
}
.ogx_tags .ogx_tags_tag{		
	background-color:#436963;
    color:#DDD;	
}
.ogx_tags .ogx_tags_tags_container{
	background-color:#FFF;
	border-top:1px solid #DDD;
}
.ogx_tags .ogx_tags_remove{     
    background-image:url('../../dark/img/remove.svg');  
}.ogx_theater{  
    background-image:url('../../../../img/theater.jpg');  
}
.ogx_theater_trans{   
    background-color:#222;  
    border:1px solid #333;
}
.ogx_stage_exit{    
    background-color:#222;
    opacity:0.5;    
    background-image:url('../../dark/img/remove.svg');
}.ogx_tree_selected_item{	
	background-color:rgba(7, 77, 65, 0.1);	
	box-shadow:0px 4px 0px 0px #074F41;
}
.ogx_tree_item > .ogx_tree_item_arrow span{
	background-image:url('../../dark/img/arrow.svg');
}
.ogx_tree_item > .ogx_tree_item_arrow_open{
	transform:rotate(90deg);
}
.ogx_tree_item > .ogx_tree_item_arrow_close{
	transform:rotate(0deg);
}
.ogx_tree_item > .ogx_tree_item_label{	
	text-shadow:1px 1px 2px rgba(102, 102, 102, 0.6);
    color:#EEE;
}
.ogx_tree_item > .file{
    background-image:url('../../dark/img/file.svg');
}
.ogx_tree_item > .folder{
    background-image:url('../../dark/img/folder.svg');
}
.ogx_tree_item > .folder_open{
    background-image:url('../../dark/img/folder_open.svg');
}
.ogx_tree_item > .folder_closed{
    background-image:url('../../dark/img/folder_closed.svg');
}
.ogx_tree_item > .root{
    background-image:url('../../dark/img/root.svg');
}.ogx_window{	
    background-color:#222;
    box-shadow:0px 0px 3px 2px rgba(0,0,0,0.2);
}
.ogx_window .ogx_view{
	background-color:#222;    
}
.ogx_window_custom{
	border:none;
	border-right:1px solid #E2E2E2;
}
.ogx_window_head{  
	color:#EEE;
    background-color:#222;
    border-bottom: 1px solid #282828;
}
.ogx_window_main_icon_top{	
	background-image:url('../../dark/img/down.svg');
	/*background-position-y:15px;*/
}
.ogx_window_main_icon_left{	
	background-image:url('../../dark/img/right.svg');
	/*background-position-y:15px;*/
}
.ogx_window_main_icon_right{
    background-image:url('../../dark/img/left.svg');
}
.ogx_window_main_icon_bottom{
    background-image:url('../../dark/img/up.svg');
}
.ogx_window_main_icon_close{  
	background-image:url('../../dark/img/close.svg');	
}
